* {
    margin: 0;
    padding: 0;
    font-size: 16pt;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: rgb(22, 22, 22);
}

header {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

nav {
    background-color: rgb(14, 13, 13);
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: inline-flex;
    line-height: 3rem;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 0 0.5rem;
    color: gray;
}

nav a:hover {
    text-decoration: none;
    height: 100%;
    padding: 0 0.5rem;
    color: gray;
    background-color: rgba(82, 0, 0, 0.884);
}

nav li {
    list-style-type: none;
    color: gray;
}

#banner-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

#banner-container h1 {
    font-size: 2rem;
    margin: .75rem auto;
}

#banner-text {
    width: 65%;
    color: gray;
    text-align: center;
    align-self: center;
    margin: 3rem;
}

#banner-image {
    background-image: url("./images/banner-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: auto;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1200px) {
    #banner-container {
        display: inline-flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #banner-container h1 {
        margin: .75rem auto;
        font-size: 1.5rem;
    }
    
    #banner-text {
        width: 90%;
        color: gray;
        text-align: center;
        align-self: center;
        margin: 1.5rem;
    }
    
    #banner-image {
        background-image: url("./images/banner-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
        min-height: 450px;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 1024px) {
    #banner-container {
        display: inline-flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #banner-container h1 {
        margin: .75rem auto;
        font-size: 1.5rem;
    }
    
    #banner-text {
        width: 90%;
        color: gray;
        text-align: center;
        align-self: center;
        margin: 1.5rem;
    }
    
    #banner-image {
        background-image: url("./images/banner-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
        min-height: 400px;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 768px) {
    nav li {
        font-size: .8rem;
    }
    
    #banner-container {
        display: inline-flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #banner-container h1 {
        margin: .75rem auto;
        font-size: 1rem;
    }
    
    #banner-text {
        width: 90%;
        color: gray;
        text-align: center;
        align-self: center;
        margin: 1rem;
    }
    
    #banner-image {
        background-image: url("./images/banner-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
        min-height: 300px;
        background-color: rgba(0, 0, 0, 0.3);
    }
}