* {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  box-sizing: border-box;
}

body {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background-color: black;
}

header {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

nav {
  background-color: rgb(14, 13, 13);
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul {
  display: inline-flex;
  line-height: 3rem;
}

nav a {
  text-decoration: none;
  height: 100%;
  padding: 0 0.5rem;
  color: gray;
}

nav a:hover {
  text-decoration: none;
  height: 100%;
  padding: 0 0.5rem;
  color: gray;
  background-color: rgba(82, 0, 0, 0.884);
}

nav li {
  list-style-type: none;
  color: gray;
}

#banner-container {
  width: 100%;
  background-image: url("./images/banner-image-alt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20rem;
}

#banner-container-overlay {
  width: 100%;
  height: 20rem;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  top: 3rem;
}

#banner-container h1 {
  color: white;
  position: absolute;
  top: 16rem;
  left: 10rem;
  font-size: 2.5rem;
  font-family: "Proza Libre", verdana, sans-serif;
  font-style: italic;
  z-index: 2;
}

#banner-container h2 {
  color: white;
  position: absolute;
  top: 19rem;
  left: 14rem;
  font-size: 2rem;
  font-family: "Proza Libre", verdana, sans-serif;
  font-style: italic;
  z-index: 2;
}

main {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    color: gray;
}

.main-section-container {
    width: 50%;
    height: 95%;
    margin: 0.5rem;
}

.main-section-container h3 {
    width: 100%;
    margin-bottom: 0.5rem;
}

#about {
    border-right: 1px solid gray;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about img {
    width: 20%;
    min-width: 160px;
    margin-bottom: 0.5rem;
}

#about p {
    font-size: .8rem;
    text-align: justify;
    flex-basis: 75%;
    flex-shrink: 5;
    margin: 0 0.5rem;
}

@media only screen and (max-width: 1500px) {
    .main-section-container h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    #banner-container h1 {
        top: 16rem;
        left: 6rem;
        font-size: 2.5rem;
      }

    #banner-container h2 {
        top: 19rem;
        left: 9rem;
        font-size: 2rem;
      }
}

@media only screen and (max-width: 768px) {
    nav li {
        font-size: .8rem;
    }

    #banner-container h1 {
        left: 1rem;
        font-size: 2rem;
    }

    #banner-container h2 {
        left: 2rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 450px) {
    nav li {
        font-size: .6rem;
    }
}